.pokemon-page {
  max-width: 590px;
  min-width: 300px;
  height: 100vh;
  margin: 0 auto;
  background-color: #E9EDF1;
  padding: 0 25px;
  box-shadow: black 0 0 20px 0;
  border: 1px solid transparent;
  box-sizing: border-box;


  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    border-bottom: 1px solid black;

    & img {
      height: 96px;
      width: 96px;
    }
  }

  &__title {
    margin: 0 auto;
    text-transform: uppercase;
  }

  &__item {
    padding: 5px;
  }
}
